<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Crear Banda', ~{::section})}">

<section class="container">
    <h1>Crear Banda</h1>

    <div class="card">
        <form th:action="@{/bandas}" method="post" th:object="${form}" class="form">
            <div th:if="${#fields.hasGlobalErrors()}" class="error">
                <div th:each="e : ${#fields.globalErrors()}" th:text="${e}"></div>
            </div>

            <!--div>
                <label>Nombre</label>
                <input type="text" th:field="*{nombre}">
                <div class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div-->

            <div class="actions">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a class="btn" th:href="@{/bandas}">Cancelar</a>
            </div>
        </form>
    </div>
</section>
</html>