<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Detalle Vigilante', ~{::section})}">

<section class="container">
    <h1>Detalle Vigilante</h1>

    <div class="card">
        <form th:action="@{/vigilantes/{id}(id=${item.id})}" method="post" th:object="${update}" class="form">
            <div th:if="${#fields.hasGlobalErrors()}" class="error">
                <p th:each="e : ${#fields.globalErrors()}"
                   th:text="${e.defaultMessage}"></p>
            </div>

            <div>
                <label>Código</label>
                <input type="text" th:field="*{codigo}">
                <div class="error" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
            </div>

            <div>
                <label>Edad</label>
                <input type="number" min="18" th:field="*{edad}">
                <div class="error" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></div>
            </div>

            <div class="actions">
                <button class="btn btn-primary" type="submit">Guardar cambios</button>
                <a class="btn" th:href="@{/vigilantes}">Volver</a>
                <a class="btn btn-danger" th:href="@{/vigilantes/{id}/confirm-delete(id=${item.id})}">Borrar</a>
            </div>
        </form>
    </div>
</section>
</html>