<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Detalle Persona detenida', ~{::section})}">

<section class="container">
    <h1>Detalle Persona detenida</h1>

    <div class="card">
        <p><b>ID:</b> <span th:text="${item.id}">1</span></p>
    </div>

    <div class="card" style="margin-top:16px;">
        <div class="card-title">Editar</div>

        <form th:action="@{/personas-detenidas/{id}(id=${item.id})}" method="post" th:object="${update}" class="form">

            <div th:if="${#fields.hasGlobalErrors()}" class="error"
                 th:text="${#fields.globalErrors()[0].defaultMessage}"></div>

            <div><label>Nombre</label><input type="text" th:field="*{nombre}"></div>
            <div><label>Codigo</label><input type="text" th:field="*{codigo}"></div>

            <div>
                <label>Banda</label>
                <select th:field="*{bandaId}">
                    <option value="">-- Seleccionar --</option>
                    <option th:each="b : ${bandas}" th:value="${b.id}" th:text="${b.numeroBanda}">1</option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('bandaId')}" th:errors="*{bandaId}"></div>
            </div>

            <div class="actions">
                <button class="btn btn-primary" type="submit">Guardar cambios</button>
                <a class="btn" th:href="@{/personas-detenidas}">Volver</a>
                <a class="btn btn-danger" th:href="@{/personas-detenidas/{id}/confirm-delete(id=${item.id})}">Borrar</a>
            </div>
        </form>
    </div>
</section>
</html>