<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Detalle Persona detenida', ~{::section})}">

<section class="container">
    <h1>Detalle Persona detenida</h1>
    <div class="card">
        <div class="card-title">Datos</div>
        <br>
        <p><b>Código:</b> <span th:text="${item.codigo}">COD-01</span></p>
        <p><b>Nombre:</b> <span th:text="${item.nombre}">NOMBRE</span></p>
        <p><b>Apellido:</b><span th:text="${item.apellido}">APELLIDO</span></p>
        <p><b>Banda Número:</b> <span th:text="${item.banda != null ? item.banda.numeroBanda : 'Sin Banda'}"></span></p>

        <br>
        <p><b>Historial de asaltos:</b></p>
        <ul th:if="${not #lists.isEmpty(item.asaltos)}" style="list-style: none; padding-left: 0;">
            <li th:each="a : ${item.asaltos}" style="margin-bottom: 8px; padding: 5px; border-left: 3px solid #ccc; background: #f9f9f9;">
                <strong th:text="${a.codigo}"></strong> -
                <span th:text="${a.fechaAsalto}"></span><br>
                <small th:if="${a.sucursal != null}"
                       th:text="${'Sucursal: ' + a.sucursal.codigo + ' (' + a.sucursal.domicilio + ')'}">
                </small>
            </li>
        </ul>
        <span th:if="${#lists.isEmpty(item.asaltos)}" class="muted">Sin asaltos asociados</span>

            <br>
            <small class="muted">(Para gestionar Asaltos, diríjase al menú de Asaltos)</small>
        </p>


    </div>

    <div class="card" style="margin-top:16px;">
        <div class="card-title">Editar</div>

        <form th:action="@{/personas-detenidas/{id}(id=${item.id})}" method="post" th:object="${update}" class="form">

            <div th:if="${#fields.hasGlobalErrors()}" class="error">
                <div th:each="e : ${#fields.globalErrors()}" th:text="${e}"></div>
            </div>
            <div><label>Codigo</label><input type="text" th:field="*{codigo}"></div>
            <div><label>Nombre</label><input type="text" th:field="*{nombre}"></div>
            <div><label>Apellido</label><input type="text" th:field="*{apellido}"></div>

            <div>
                <label>Número de Banda</label>
                <select th:field="*{bandaId}">
                    <option value="">-- Seleccionar --</option>
                    <option th:each="b : ${bandas}" th:value="${b.id}" th:text="${b.numeroBanda}">1</option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('bandaId')}" th:errors="*{bandaId}"></div>
            </div>

            <div class="actions">
                <button class="btn btn-primary" type="submit">Guardar cambios</button>
                <a class="btn" th:href="@{/personas-detenidas}">Volver</a>
                <a class="btn btn-danger" th:href="@{/personas-detenidas/{id}/confirm-delete(id=${item.id})}">Borrar</a>
            </div>
        </form>
    </div>
</section>
</html>