<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Personas detenidas', ~{::section})}">

<section class="container">
    <h1>Personas detenidas</h1>

    <div class="card actions">
        <a class="btn btn-primary" th:href="@{/personas-detenidas/new}"
           sec:authorize="hasRole('ADMIN')"> Crear</a>
    </div>

    <div class="card">
        <table>
            <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nro de Banda</th>
                <th>Historial de Asaltos</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="p : ${items}">
                <td th:text="${p.codigo}">ABC123</td>
                <td th:text="${p.nombre}">Nombre</td>
                <td th:text="${p.apellido}">Apellido</td>

                <td th:text="${p.banda != null ? p.banda.numeroBanda : 'Sin banda asignada'}">Sin banda asignada</td>

                <td>
                    <select th:if="${not #lists.isEmpty(p.asaltos)}" class="form-select form-select-sm">
                        <option selected>Ver Historial de Asaltos ([[${#lists.size(p.asaltos)}]])</option>
                        <option th:each="a : ${p.asaltos}"
                                th:text="${a.codigo + ' (' + a.fechaAsalto + ') - Suc: ' + a.sucursal.codigo + ' - ' + a.sucursal.domicilio}">
                        </option>
                    </select>
                    <span th:if="${#lists.isEmpty(p.asaltos)}" class="muted">Sin asaltos asociados</span>
                </td>


                <td class="td-actions">
                    <a class="btn" th:href="@{/personas-detenidas/{id}(id=${p.id})}"
                       sec:authorize="hasRole('ADMIN')">Ver/Editar</a>

                    <a class="btn" th:href="@{/personas-detenidas/{id}(id=${p.id})}"
                       sec:authorize="hasRole('INVESTIGADOR')">Ver detalle</a>

                    <a class="btn btn-danger" th:href="@{/personas-detenidas/{id}/confirm-delete(id=${p.id})}"
                       sec:authorize="hasRole('ADMIN')">Borrar</a>
                </td>
            </tr>

            <tr th:if="${items == null || #lists.isEmpty(items)}">
                <td colspan="6" class="muted">No hay personas detenidas.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>