<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Personas detenidas', ~{::section})}">

<section class="container">
    <h1>Personas detenidas</h1>

    <div class="card actions">
        <a class="btn btn-primary" th:href="@{/personas-detenidas/new}">+ Crear</a>
    </div>

    <div class="card">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Código</th>
                <th>Banda</th>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="p : ${items}">
                <td th:text="${p.id}">1</td>
                <td th:text="${p.nombre}">Nombre</td>
                <td th:text="${p.codigo}">ABC123</td>

                <td th:text="${p.banda != null ? p.banda.numeroBanda : '-'}">-</td>

                <td class="td-actions">
                    <a class="btn" th:href="@{/personas-detenidas/{id}(id=${p.id})}">Ver/Editar</a>
                    <a class="btn btn-danger" th:href="@{/personas-detenidas/{id}/confirm-delete(id=${p.id})}">Borrar</a>
                </td>
            </tr>

            <tr th:if="${items == null || #lists.isEmpty(items)}">
                <td colspan="6" class="muted">No hay personas detenidas.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>