<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Asaltos', ~{::section})}">

<section class="container">
  <h1>Detalle Asalto</h1>

  <div class="card" style="margin-bottom:16px;">
    <div class="card-title">Datos actuales</div>
    <br>
    <p><b>Código:</b> <span th:text="${item.codigo}">1</span></p>
    <p><b>Fecha:</b><span th:text="${#temporals.format(item.fechaAsalto, 'dd/MM/yyyy')}">01/01/2026</span></p>
    <p><b>Sucursal:</b> <span th:text="${item.sucursal.codigo + ' - ' + item.sucursal.domicilio}">1</span></p>
    <p><b>Personas Detenidas:</b>
      <span th:each="p : ${item.personas}"
            th:text="${p.codigo}+ ' - '"
            class="badge"
            style="margin-right: 4px;">
        PERS-DET-01
            </span>

      <span th:if="${#lists.isEmpty(item.personas)}" class="muted">Sin personas detenidas</span>

      <br>

  </div>

  <div class="card">
    <div class="card-title">Editar</div>
    <br>
    <form th:action="@{/asaltos/{id}(id=${item.id})}" method="post" th:object="${update}">
      <div style="display:grid; gap:12px; max-width:560px;">

        <div th:if="${#fields.hasGlobalErrors()}" class="error">
          <div th:each="e : ${#fields.globalErrors()}" th:text="${e}"></div>
        </div>

        <div>
          <label>Código</label>
          <input type="text" th:field="*{codigo}">
        </div>

        <div>
          <label>Fecha</label>
          <input type="date" th:field="*{fechaAsalto}">
          <div th:if="${#fields.hasErrors('fechaAsalto')}"
               th:text="${#fields.errors('fechaAsalto')[0]}" style="color:#ffb4b4;"></div>
        </div>

        <div>
          <label>Sucursal</label>
          <select th:field="*{sucursalId}">
            <option value="">-- Seleccionar --</option>
            <option th:each="s : ${sucursales}"
                    th:value="${s.id}"
                    th:text="${s.codigo + ' - ' + s.domicilio}">1</option>
          </select>
          <div th:if="${#fields.hasErrors('sucursalId')}"
               th:text="${#fields.errors('sucursalId')[0]}" style="color:#ffb4b4;"></div>
        </div>


        <div>
          <label>Personas Detenidas</label>
          <p style="font-size: 0.8rem; color: #ccc; margin-bottom: 4px;">
            (Mantené presionado Ctrl para seleccionar varias personas)
          </p>

          <select th:field="*{personaDetenidaIds}" multiple class="form-select" style="height: 120px;">
            <option th:each="p : ${personas}"
                    th:value="${p.id}"
                    th:text="${p.codigo + ' - ' + p.nombre + ' ' + p.apellido +
                        (p.banda != null ? ' (Banda N°: ' + p.banda.numeroBanda + ')' : ' (Sin banda asignada)')}">1</option>
          </select>

          <div th:if="${#fields.hasErrors('personaDetenidaIds')}"
               th:text="${#fields.errors('personaDetenidaIds')[0]}"
               style="color:#ffb4b4; margin-top: 4px;">
          </div>
        </div>


        <div style="display:flex; gap:10px; flex-wrap:wrap; margin-top:8px;">
          <button class="btn btn-primary" type="submit">Guardar cambios</button>
          <a class="btn" th:href="@{/asaltos}">Volver</a>
          <a class="btn btn-danger" th:href="@{/asaltos/{id}/confirm-delete(id=${item.id})}">Borrar</a>
        </div>

      </div>
    </form>
  </div>
</section>
</html>