<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Asaltos', ~{::section})}">

<section class="container">
    <h1>Asaltos</h1>

    <div class="card actions">
        <a class="btn btn-primary" th:href="@{/asaltos/new}"> Crear Asalto</a>
        <a class="btn" th:href="@{/asaltos/reporte}">Reporte</a>
    </div>

    <div class="card">
        <table>
            <thead>
            <tr>
                <th>ID</th><th>Fecha</th><th>SucursalId</th><th>PersonaDetenidaId</th><th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${items}">
                <td th:text="${a.fechaAsalto}">2026-01-01</td>
                <td th:text="${a.sucursalId}">1</td>
                <td th:text="${a.personaDetenidaId}">1</td>
                <td class="td-actions">
                    <a class="btn" th:href="@{/asaltos/{id}(id=${a.id})}">Ver/Editar</a>
                    <a class="btn btn-danger" th:href="@{/asaltos/{id}/confirm-delete(id=${a.id})}">Borrar</a>
                </td>
            </tr>
            <tr th:if="${items == null || #lists.isEmpty(items)}">
                <td colspan="5" class="muted">No hay asaltos.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>