<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Asaltos', ~{::section})}">

<section class="container">
    <h1>Asaltos</h1>

    <div class="card actions">
        <a class="btn btn-primary" th:href="@{/asaltos/new}"> Crear Asalto</a>
        <a class="btn" th:href="@{/asaltos/reporte}">Reporte</a>
    </div>

    <div class="card">
        <table>
            <thead>
            <tr>
                <th>Código</th><th>Fecha</th><th>Sucursal</th><th>Sucursal Domicilio</th><th>Personas Detenidas</th><th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${items}">
                <td th:text="${a.codigo}">1</td>
                <td th:text="${a.fechaAsalto}">2026-01-01</td>
                <td th:text="${a.sucursal.codigo}">1</td>
                <td th:text="${a.sucursal.domicilio}">1</td>


                <td>
                    <select th:if="${not #lists.isEmpty(a.personas)}" class="form-select form-select-sm">
                        <option selected>Ver personas detenidas asociadas ([[${#lists.size(a.personas)}]])</option>
                        <option th:each="p : ${a.personas}"
                                th:text="${p.codigo + ' - ' + p.nombre + ' - ' + p.apellido}">
                        </option>
                    </select>
                    <span th:if="${#lists.isEmpty(a.personas)}" class="muted">Sin personas detenidas</span>
                </td>


                <td class="td-actions">
                    <a class="btn" th:href="@{/asaltos/{id}(id=${a.id})}">Ver/Editar</a>
                    <a class="btn btn-danger" th:href="@{/asaltos/{id}/confirm-delete(id=${a.id})}">Borrar</a>
                </td>
            </tr>
            <tr th:if="${items == null || #lists.isEmpty(items)}">
                <td colspan="5" class="muted">No hay asaltos.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>