<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div th:fragment="topbar">
    <header class="topbar">
        <div class="topbar-inner">

            <!-- Izquierda -->
            <div class="topbar-left">
                <span class="topbar-title">TP Seguridad Bancaria</span>

                <span class="role-badge"
                      th:text="${#authorization.expression('hasRole(''ADMIN'')') ? 'ADMIN' :
                       (#authorization.expression('hasRole(''INVESTIGADOR'')') ? 'INVESTIGADOR' : 'VIGILANTE')}">
          ROL
        </span>
            </div>

            <!-- Derecha -->
            <div class="topbar-right">
        <span class="topbar-user">
          👤 <span th:text="${#authentication.name}">usuario</span>
        </span>

                <a class="btn btn-sm" th:href="@{/dashboard}">Dashboard</a>

                <form th:action="@{/logout}" method="post" class="inline-form">
                    <button class="btn btn-sm btn-danger" type="submit">Logout</button>
                </form>
            </div>

        </div>
    </header>
</div>

</body>
</html>