<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{fragments/layout :: layout('Usuarios', ~{::section})}">

<section class="container">
    <h1>Usuarios</h1>

    <p th:if="${msg != null}" class="muted" th:text="${msg}"></p>
    <p th:if="${error != null}" class="error" th:text="${error}"></p>

    <div class="card actions" sec:authorize="hasAnyRole('ADMIN','SUPERADMIN')">
        <a class="btn btn-primary" th:href="@{/users/new}"> Crear Usuario</a>
    </div>

    <div class="card">
        <table>
            <thead>
            <tr>
                <th>Código</th>
                <th>Username</th>
                <th>Rol</th>
                <th>Vigilante Código</th>
                <th class="text-center">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${users}">
                <td th:text="${u.codigo}">U-001</td>
                <td th:text="${u.username}">admin</td>
                <td th:text="${u.rol}">ADMIN</td>
                <td th:text="${u.vigilanteId != null ? u.vigilanteCodigo : '-'}">-</td>

                <td class="td-actions">
                    <a sec:authorize="hasAnyRole('ADMIN','SUPERADMIN')" class="btn" th:href="@{/users/{id}(id=${u.id})}">Ver/Editar</a>

                    <a sec:authorize="hasRole('INVESTIGADOR')" class="btn" th:href="@{/users/{id}(id=${u.id})}">Ver Detalle</a>

                    <a sec:authorize="hasAnyRole('ADMIN','SUPERADMIN')" class="btn btn-danger" th:href="@{/users/{id}/confirm-delete(id=${u.id})}">Borrar</a>
                </td>
            </tr>

            <tr th:if="${users == null || #lists.isEmpty(users)}">
                <td colspan="5" class="muted" style="text-align: center;">No hay usuarios registrados.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>