<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Usuarios', ~{::section})}">

<section class="container">
    <h1>Usuarios</h1>

    <p th:if="${msg != null}" class="muted" th:text="${msg}"></p>
    <p th:if="${error != null}" class="error" th:text="${error}"></p>

    <div class="card actions">
        <a class="btn btn-primary" th:href="@{/users/new}">+ Crear Usuario</a>
    </div>

    <div class="card">
        <table>
            <thead>
            <tr>
                <th>ID</th><th>Username</th><th>rol</th><th>VigilanteId</th><th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${users}">
                <td th:text="${u.id}">1</td>
                <td th:text="${u.username}">admin</td>
                <td th:text="${u.rol}">ADMIN</td>
                <td th:text="${u.vigilanteId != null ? u.vigilanteId : '-'}">-</td>
                <td class="td-actions">
                    <a class="btn" th:href="@{/users/{id}(id=${u.id})}">Ver/Editar</a>
                    <a class="btn btn-danger" th:href="@{/users/{id}/confirm-delete(id=${u.id})}">Borrar</a>
                </td>
            </tr>

            <tr th:if="${users == null || #lists.isEmpty(users)}">
                <td colspan="5" class="muted">No hay usuarios.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>