<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Crear Juez', ~{::section})}">

<section class="container">
    <h1>Crear Juez</h1>

    <div class="card">
        <form th:action="@{/jueces}" method="post" th:object="${form}" class="form">

            <div th:if="${#fields.hasGlobalErrors()}" class="error">
                <div th:each="e : ${#fields.globalErrors()}" th:text="${e}"></div>
            </div>

            <div>
                <label>Nombre</label>
                <input type="text" th:field="*{nombre}">
                <div class="error" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
            </div>

            <div>
                <label>Apellido</label>
                <input type="text" th:field="*{apellido}">
                <div class="error" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
            </div>

            <div>
                <label>codigo</label>
                <input type="text" th:field="*{codigo}">
                <div class="error" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
            </div>

            <div class="actions">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a class="btn" th:href="@{/jueces}">Cancelar</a>
            </div>
        </form>
    </div>
</section>
</html>