<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Jueces', ~{::section})}">

<section class="container">
    <h1>Jueces</h1>
    <p class="muted">Gestión de jueces (CRUD)</p>

    <div class="card actions">
        <a class="btn btn-primary" th:href="@{/jueces/new}"> Crear Juez</a>
    </div>

    <div class="card">
        <table>
            <thead>
            <tr>
                <th>ID</th><th>Nombre</th><th>Apellido</th><th>Matrícula</th><th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="j : ${items}">
                <td th:text="${j.id}">1</td>
                <td th:text="${j.nombre}">Juan</td>
                <td th:text="${j.apellido}">Pérez</td>
                <td th:text="${j.codigo}">MAT-1</td>
                <td class="td-actions">
                    <a class="btn" th:href="@{/jueces/{id}(id=${j.id})}">Ver/Editar</a>
                    <a class="btn btn-danger" th:href="@{/jueces/{id}/confirm-delete(id=${j.id})}">Borrar</a>
                </td>
            </tr>

            <tr th:if="${items == null || #lists.isEmpty(items)}">
                <td colspan="5" class="muted">No hay jueces.</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>