<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Crear Sucursal', ~{::section})}">

<section class="container">
  <h1>Crear Sucursal</h1>

  <div class="card">
    <form th:action="@{/sucursales}" method="post" th:object="${form}" class="form">
      <div>
        <label>Código
        <input type="text" th:field="*{codigo}"></label>
      </div>

      <div>
        <label>Domicilio</label>
        <input type="text" th:field="*{domicilio}">
      </div>

      <div>
        <label>Nro. empleados
        <input type="number" min="0" th:field="*{nroEmpleados}"></label>
      </div>

      <div>
        <label>Banco
        <select th:field="*{bancoId}">
          <option value="">-- Seleccionar --</option>
          <option th:each="b : ${bancos}" th:value="${b.id}" th:text="${b.codigo}">1</option>
        </select></label>
      </div>

      <div class="actions">
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn" th:href="@{/sucursales}">Cancelar</a>
      </div>
    </form>
  </div>
</section>
</html>