<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Detalle Sucursal', ~{::section})}">

<section class="container">
    <h1>Detalle Sucursal</h1>

    <div class="card">
        <div class="card-title">Editar</div>

        <form th:action="@{/sucursales/{id}(id=${item.id})}" method="post" th:object="${update}" class="form">
            <div>
                <label>Código</label>
                <input type="text" th:field="*{codigo}">
            </div>

            <div>
                <label>Domicilio</label>
                <input type="text" th:field="*{domicilio}">
            </div>

            <div>
                <label>Nro. empleados</label>
                <input type="number" min="0" th:field="*{nroEmpleados}">
            </div>

            <div>
                <label>BancoId</label>
                <select th:field="*{bancoId}">
                    <option value="">-- Seleccionar --</option>
                    <option th:each="b : ${bancos}" th:value="${b.id}" th:text="${b.id}">1</option>
                </select>
            </div>

            <div class="actions">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a class="btn" th:href="@{/sucursales}">Volver</a>
                <a class="btn btn-danger" th:href="@{/sucursales/{id}/confirm-delete(id=${item.id})}">Borrar</a>
            </div>
        </form>
    </div>
</section>
</html>