<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Sucursales', ~{::section})}">

<section class="container">
  <h1>Sucursales</h1>


  <div class="card actions">
    <a class="btn btn-primary" th:href="@{/sucursales/new}"> Crear Sucursal</a>
  </div>

  <div class="card">
    <table>
      <thead>
      <tr>
        <th>Código</th><th>Domicilio</th><th>Empleados</th><th>Banco</th><th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="s : ${items}">

        <td th:text="${s.codigo}">SUC-01</td>
        <td th:text="${s.domicilio}">...</td>
        <td th:text="${s.nroEmpleados}">0</td>
        <td th:text="${s.bancoCodigo}">1</td>
        <td class="td-actions">
          <a class="btn" th:href="@{/sucursales/{id}(id=${s.id})}">Ver/Editar</a>
          <a class="btn btn-danger" th:href="@{/sucursales/{id}/confirm-delete(id=${s.id})}">Borrar</a>
        </td>
      </tr>
      <tr th:if="${items == null || #lists.isEmpty(items)}">
        <td colspan="6" class="muted">No hay sucursales.</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</html>