<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Error')}"></head>
<body>
<div th:replace="~{fragments/header :: topbar}"></div>

<div class="container">
    <div class="hero">
        <h1 th:text="${title}">Error</h1>
        <p th:text="${message}">Ocurrió un error.</p>
        <div class="alert err" th:if="${status}">
            Código: <b th:text="${status}">500</b>
        </div>
    </div>

    <p style="color:var(--muted); font-size:13px;" th:if="${errorId}">
        Código de referencia: <b th:text="${errorId}">ABC123</b>
    </p>

</div>

</body>
</html>
