<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Detalle Juicio', ~{::section})}">

<section class="container">
    <h1>Detalle Juicio</h1>

    <div class="card">
        <p><b>ID:</b> <span th:text="${item.id}">1</span></p>
    </div>

    <div class="card" style="margin-top:16px;">
        <div class="card-title">Editar</div>

        <form th:action="@{/juicios/{id}(id=${item.id})}" method="post" th:object="${update}" class="form">

            <div th:if="${#fields.hasGlobalErrors()}" class="error"
                 th:text="${#fields.globalErrors()[0].defaultMessage}">
            </div>
            <div>
                <label>Fecha juicio</label>
                <input type="date" th:field="*{fecha}" data-required>
                <div class="error" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>
            </div>

            <div>
                <label>Juez</label>
                <select th:field="*{juezId}" data-required>
                    <option value="">-- Seleccionar --</option>
                    <option th:each="j : ${jueces}"
                            th:value="${j.id}"
                            th:text="${juecesMap != null && juecesMap[j.id] != null ? juecesMap[j.id] : j.id}">
                    </option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('juezId')}" th:errors="*{juezId}"></div>
            </div>

            <div>
                <label>Persona detenida</label>
                <select th:field="*{personaDetenidaId}" data-required>
                    <option value="">-- Seleccionar --</option>

                    <!-- ✅ ahora itera delincuentes (no contratos) -->
                    <option th:each="d : ${delincuentes}"
                            th:value="${d.id}"
                            th:text="${DelincuentesLabelMap != null && DelincuentesLabelMap[d.id] != null ? DelincuentesLabelMap[d.id] : d.id}">
                    </option>
                </select>
                <div class="error" th:if="${#fields.hasErrors('personaDetenidaId')}" th:errors="*{personaDetenidaId}"></div>
            </div>

            <div class="actions">
                <button class="btn btn-primary" type="submit">Guardar cambios</button>
                <a class="btn" th:href="@{/juicios}">Volver</a>
                <a class="btn btn-danger" th:href="@{/juicios/{id}/confirm-delete(id=${item.id})}">Borrar</a>
            </div>
        </form>
    </div>
</section>
</html>