<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout('Crear Banco', ~{::section})}">

<section class="container">
    <h1>Crear Banco</h1>

    <div class="card">
        <form th:action="@{/bancos}" method="post" th:object="${form}" class="form">
            <div th:if="${#fields.hasGlobalErrors()}" class="error"
                 th:text="${#fields.globalErrors()[0].defaultMessage}">
            </div>

            <div>
                <label>Código</label>
                <input type="text" th:field="*{codigo}">
                <div class="error" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
            </div>

            <div>
                <label>Domicilio central</label>
                <input type="text" th:field="*{domicilioCentral}">
                <div class="error" th:if="${#fields.hasErrors('domicilioCentral')}" th:errors="*{domicilioCentral}"></div>
            </div>

            <div class="actions">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a class="btn" th:href="@{/bancos}">Cancelar</a>
            </div>
        </form>
    </div>
</section>
</html>